.tableRow {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40px;
    border-bottom: 1px solid black;
}

.cell {
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
}

.second {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.addNew {
    height: 40px;
    border-bottom: 1px solid black;
    background-color: #eee;
    display: grid;
    align-content: center;
    justify-items: center;
    cursor: pointer;
}

.addNew:hover {
    background: #ccc;
}

